html  {
  
}

header  {
  
}

body  {
  
}

h1  {
  
}

h2  {
  
}

p {
  
}

nav ul li{
  display: inline-block;
  list-style-type: none;
}

ul  {
  
}

li  {
  
}

a {
  
}

div {
  
}

#wrapper div {
  display: none;
  
}

#about {
  
}

#contact  {
  
}

button {
  top: 0;
  position: relative;
  float: right;
}